h1, p {
  text-align: center;
}

#color-palette {
  /* border: 10px solid black; */
  margin: auto;
  width: 50%;
  padding: 30px;
  padding-left: 220px;
}

.ball {
  border-radius: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 25px;
  margin-left: 20px;
}

#reset-game {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}